.main-color {
  color: $color-main;
}

.sub-color {
  color: $color-sub;
}

.block {
  display: block;
}

.bg-comma {
  padding-top: 4rem;

  &::before {
    content: "\f10e";
    font-family: $font-awesome;
    font-size: 12rem;
    font-weight: 700;
    position: absolute;
    top: -15px;
    left: -15px;
    opacity: 0.075;
  }
}

.heading {
  position: relative;
  font-family: $font-title;
  font-size: 4rem;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 1.4;
  margin: 0 0 1rem;

  &.uppercase {
    text-transform: uppercase;
  }

  span {
    &.color {
      color: $color-main;
    }

    &.block {
      display: block;
    }
  }

  &-page {
    font-family: $font-title;
    font-size: 3rem;
    font-weight: 700;
    margin: 1.5rem 0 2rem;
  }

  &-mini {
    // font-family: $font-sub-title;
    font-size: 2.25rem;
    font-weight: 700;
    margin: 1rem 0;
    text-transform: uppercase;
  }

  &-bold {
    font-family: $font-bold;
    font-size: 3rem;
    margin: 1rem 0 2rem;
  }

  &-separator {
    position: relative;
    display: inline-block;
    width: 7rem;
    height: 0.35rem;
    background-color: $color-sub;

    &-drop {
      position: relative;
      display: inline-block;
      width: 16rem;
      height: 0.35rem;
      background-color: $color-sub;
      margin-top: 1rem;
      margin-bottom: 2rem;

      &::after {
        content: "";
        @include absolcenter;
        width: 3rem;
        height: 5rem;
        background-image: url('../images/favicon-yellow.png');
        background-size: 60% 60%;
        background-color: #fff;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

  &-after {
    position: relative;
    width: 12rem;
    height: 4rem;
    margin-top: 1rem;
    margin-bottom: 2rem;

    &::before,
    &::after {
      content: "";
      @include absoltopcenter;
      width: 3.5rem;
      height: 2px;
      background-color: $color-sub;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }

    span {
      display: block;
      width: 2.5rem;
      height: 2.5rem;
      border: 2px solid $color-black;
      border-radius: 50%;
      @include absolcenter;
    }
  }

  @include respond(phone) {
    font-size: 3rem;

    &-page {
      font-size: 1.8rem;
    }
  }
}

.text-center {

  .heading-separator,
  .heading-after {
    @include margin-auto;
  }
}

.imgtobg {

  &-o,
  &-o-sm {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  &-o-sm {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
  }

  &-img {
    max-width: 100%;

    img {
      max-width: 100%;
    }
  }
}

.square {
  position: relative;
  overflow: hidden;

  img {
    position: relative;
    min-width: 100%;
    width: auto;
    max-width: 150%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
  }
}

.img {
  &-floatleft {
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  &-floatright {
    float: right;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }

  @include respond(tabland) {

    &-floatleft,
    &-floatright {
      max-width: 50%;
    }
  }
}

/* remove float at certain viewports */
.float {
  @include respond(tabland) {
    &-md {
      float: none;
    }
  }

  @include respond(tabport) {
    &-sm {
      float: none;
    }
  }

  @include respond(phone) {
    &-xs {
      float: none;
    }
  }
}

.max-width {
  &--100 {
    max-width: 100px;
  }

  &--200 {
    max-width: 200px;
  }

  &--300 {
    max-width: 300px;
  }

  &--400 {
    max-width: 400px;
  }

  &--500 {
    max-width: 500px;
  }

  &--600 {
    max-width: 600px;
  }

  &--700 {
    max-width: 700px;
  }

  &--800 {
    max-width: 800px;
  }

  &--900 {
    max-width: 900px;
  }

  &--1000 {
    max-width: 1000px;
  }
}

.margin-auto {
  @include margin-auto;
}

.white-border {
  position: relative;
  border: 1px solid rgba(#fff, 0.3);
  padding: 2rem;
}

.border-behind {
  position: relative;
  height: 100%;

  &::after {
    content: "";
    position: absolute;
    top: 3rem;
    left: 3rem;
    border: 1rem solid $color-main;
    width: 100%;
    height: 100%;
    opacity: 0.7;
  }
}

.curve-shape {

  &-top,
  &-bot {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 10%;
      background-image: url("../images/shape.svg");
      background-size: 100% 100%;
    }
  }

  &-top::before {
    top: 0;
  }

  &-bot::before {
    bottom: 0;
    transform: rotate(180deg);
  }

  &-light::before {
    background-image: url("../images/shape-light.svg");
  }
}

.no-padding {
  padding: 0;
}

.list {
  &-content {
    padding-left: 1rem;
    list-style-type: none;

    li {
      position: relative;
      margin-bottom: 0.4rem;
      padding-left: 2rem;

      &::before {
        content: "\f105";
        font-family: $font-awesome;
        font-size: 1.4rem;
        font-weight: 700;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  &-x2 {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;

    li {
      width: 50%;
      padding-right: 1rem;
    }
  }

  &-icon {
    position: relative;
    margin-bottom: 1.5rem;

    li {
      position: relative;
      padding-left: 3rem !important;

      &::before {
        display: none;
      }

      >i {
        @include absoltopcenter;
        left: 0;
        font-size: 1.8rem;
      }

      span,
      strong {
        display: block;
      }
    }
  }
}

.column-2 {
  column-count: 2;
  column-gap: 4rem;

  @include respond(tabland-min) {
    &-lg {
      column-count: 2;
      column-gap: 4rem;
    }
  }

  @include respond(tabport-min) {
    &-md {
      column-count: 2;
      column-gap: 4rem;
    }
  }
}

.p-dash {
  position: relative;
  padding-left: 9rem;

  &::before {
    content: "";
    position: absolute;
    top: 1rem;
    left: 0;
    width: 7rem;
    height: .3rem;
    background-color: $color-main;
  }

  &-white::before {
    background-color: #fff;
  }
}

.star-rating {
  position: relative;
  margin-top: .5rem;
  margin-bottom: .5rem;

  span {
    position: relative;
    display: inline-block;

    &::before,
    &::after {
      font-family: $font-awesome;
      font-size: 1.5rem;
      content: "\f005 \f005 \f005 \f005 \f005";
    }

    &::before {
      font-weight: 400;
    }

    &::after {
      color: #ffa500;
      font-weight: 700;
      position: absolute;
      top: 0;
      left: 0;
    }

    &.star-1::after {
      content: "\f005";
    }

    &.star-2::after {
      content: "\f005 \f005";
    }

    &.star-3::after {
      content: "\f005 \f005 \f005";
    }

    &.star-4::after {
      content: "\f005 \f005 \f005 \f005";
    }

    &.star-5::after {
      content: "\f005 \f005 \f005 \f005 \f005";
    }
  }
}

.trip {
  &-date {
    position: relative;
    padding-left: 3rem;

    i {
      @include absoltopcenter;
      left: 0;
      color: $color-sub;
      font-size: 2.25rem;
    }

    span,
    strong {
      display: block;
    }

    span {}

    strong {}
  }

  &-duration {

    span {
      display: inline-block;
      margin-right: 1rem;
    }

    &-day {
      color: $color-sub;
    }

    &-night {
      color: $color-main;
    }
  }
}

.tags {
  span {
    a {
      font-family: $font-title;
      font-size: 1.35rem;
      display: inline-block;
      padding: .5rem 1rem;
      margin-right: .5rem;
      margin-bottom: .75rem;
      color: $color-black;
      background-color: transparent;
      border: 1px solid $color-main;
      border-radius: 25px;

      &:hover {
        color: #fff;
        background-color: $color-sub;
        border-color: $color-sub;
      }
    }
  }
}

.category {
  font-size: 1.4rem;
  color: #555;

  span {
    &:not(:last-child)::after {
      content: ",";
    }

    a {
      text-decoration: underline;

      &:hover {
        color: $color-sub;
      }
    }
  }
}

.author {
  color: #555;
  font-family: $font-title;
  font-size: 1.4rem;
  padding: 1rem 0;

  i {
    font-size: 1.2rem;
  }

  a {

    &:hover {
      color: $color-sub;
      text-decoration: underline;
    }
  }
}

.social-share {

  i,
  p,
  .social-icon-group {
    font-size: 1.4rem;
    display: inline-block;
  }

  p {
    font-weight: 700;
    text-transform: uppercase;
  }

  .social-icon {
    // margin: 0 .5rem;

    a {
      display: inline-block;
      width: 3rem;
      height: 3rem;
      line-height: 3rem;
      border: 1px solid #999;
      text-align: center;

      &:hover {
        color: #fff;
        background-color: $color-sub;
      }
    }
  }
}

.pagination {
  margin-top: 4rem;

  .page {
    &-item {}

    &-link {
      color: $color-main;
      outline: none;

      &:hover {
        color: #fff;
        background-color: $color-sub;
      }

      &:focus {
        outline: none;
      }
    }

    &-item.active .page-link {
      color: #fff;
      background-color: $color-sub;
      border-color: $color-sub;
    }
  }
}

.sidebar {
  &-box {
    margin-bottom: 3rem;

    &-title {
      position: relative;
      font-family: $font-title;
      font-size: 2.25rem;
      font-weight: 700;
      margin-bottom: 2rem;
      padding-bottom: 1rem;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 3rem;
        height: 3px;
        background-color: $color-sub;
      }
    }
  }

  &-post {
    padding: 1rem;
    margin: 0 -1rem .5rem;
    transition: all .3s ease;

    &:hover {
      background-color: #fff;
      box-shadow: 0 0 3px 1px rgba(#000, 0.1);
    }

    &-row {
      position: relative;
      // align-items: center;
      margin: 0;
    }

    &-col {
      position: static;
      padding: .5rem;
    }

    &-img {
      position: relative;
      width: 100%;
      height: 8rem;
    }

    &-text {
      h3 {
        font-family: $font-title;
        font-size: 1.6rem;
        font-weight: 800;
      }

      p {
        font-size: 1.3rem;
        margin-bottom: .5rem;
      }
    }

    &-date {
      span {
        font-size: 1.3rem;
        opacity: 0.8;
      }
    }

    &-link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &-col:hover &-text h3 {
      color: $color-sub;
    }

  }

  .social-icon {
    margin-right: .5rem;

    a {
      display: inline-block;
      width: 4rem;
      height: 4rem;
      line-height: 4rem;
      text-align: center;
      color: #fff;
      background-color: $color-main;
      border-radius: 25px;

      &:hover {
        color: #fff;
        background-color: $color-sub;
      }
    }
  }

  @include respond(tabland) {
    margin-top: 4rem;
  }
}