.header {
  z-index: 999;
  position: relative;
  color: $color-black;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;

  &__top {
    color: #fff;
    background-color: $color-black;
    transition: all 0.5s ease;

    &-col {
      z-index: 1;
      position: relative;

      span {
        line-height: 4.5rem;
      }

      &-lt {
        span {
          position: relative;
          display: inline-block;
          margin-right: 2rem;

          i,
          strong {
            color: $color-sub;
          }

          &:not(:last-child)::after {
            content: "";
            @include absoltopcenter;
            right: -1rem;
            width: 1px;
            height: 60%;
            background-color: #fff;
            opacity: 0.3;
          }
        }
      }

      &-rt {
        span {
          margin-right: 1rem;
        }
      }
    }

    .social-icon-group {
      text-align: center;

      i {
        font-size: 1.3rem;
        width: 3.25rem;
        height: 3.25rem;
        line-height: 3.25rem;
        background-color: rgba(#fff, 0.2);
        border-radius: 50%;

        &:hover {
          color: $color-black;
          background-color: $color-sub;
        }
      }
    }
  }

  &__mid {
    padding: 0;
    background-color: #fff;

    &-row {
      // align-items: center;
    }
  }

  &__mid-col:nth-child(1) &-infobox-icon {
    background-color: $color-main;
    border-radius: 5px;

    img {
      filter: brightness(0) invert(1);
    }
  }

  &-infobox {
    display: flex;
    align-items: center;

    &-icon {
      width: 2.25rem;
      height: 2.25rem;
      border-radius: 50%;

      img {
        max-width: 100%;
      }
    }

    &-text {
      width: calc(100% - 5rem);
      padding-left: 1.5rem;

      strong {
        font-family: $font-title;
        font-size: 1.8rem;
        display: block;
        text-transform: uppercase;
        white-space: nowrap;
      }

      span {
        // font-family: $font-title;
        display: block;
        color: $color-black;
        font-size: 1.2rem;
        // font-weight: 500;
        opacity: 0.75;
      }

      a:hover {
        color: $color-main;
        // text-decoration: underline;
      }
    }

    &::before {
      content: "";
      @include absoltopcenter;
      left: -1.5rem;
      width: 1px;
      height: 90%;
      background-color: #ddd;
    }
  }

  &__nav-row {
    // align-items: center;
  }

  &-phone {
    position: relative;
    display: flex;
    width: 18rem;

    &-icon {
      width: 4rem;

      img {
        width: 100%;
        max-width: 8rem;
      }
    }

    &-cont {
      position: relative;
      padding-left: 2rem;

      &::before {
        content: "";
        @include absoltopcenter;
        left: 10px;
        width: 1px;
        height: 80%;
        background-color: rgba(#000, 0.3);
      }

      span,
      strong {
        display: block;
      }

      strong {
        font-size: 1.6rem;
        letter-spacing: 1px;
      }
    }
  }

  &__main {
    background-color: #fff;
    // border-top: 1px solid #eee;
  }

  .logo-color {
    display: none;
  }

  &-button {
    a {
      font-size: 1.3rem;
      font-weight: 600;
      text-transform: uppercase;

      &:hover {}
    }
  }

  &.headerfixit {
    background-color: #fff;

    .header__main {
      box-shadow: 0 2px 11px 0px rgba(0, 0, 0, 0.3);
    }

    .header__nav-row {}

    .logo-white {
      display: none;
    }

    .logo-color {
      display: block;
    }

    .logowrap {
      margin: 0;

      img {
        max-width: 15rem;
      }

      .main-logo {
        display: none;
      }

      .mini-logo {
        display: inherit;
      }
    }

    .navul>li>a {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;

      &::after {
        background-color: $color-black;
      }
    }

    .navul-num>a {
      color: $color-black;

      &::before {
        background-color: $color-main;
      }

      &:hover {
        color: $color-main;
      }
    }

    // .nav-toggle span {
    //   background-color: $color-main;
    // }
  }

  @include respond(smdesktop-min) {}

  @include respond(smdesktop) {
    &__top-col-lt span {
      font-size: 1.3rem;
    }
  }

  @include respond(tabland-min) {
    & {
      position: relative;
      margin-bottom: 6rem;
      transition: 0s;
    }

    &__mid {
      border-bottom: 1px solid #eee;
    }

    &__main {
      position: absolute;
      top: 100%;
      // top: calc(100% - 3.5rem);
      left: 0;
      right: 0;
      // background-color: transparent;
    }

    &__nav-row {
      position: relative;
      // color: #fff;
      // background-color: $color-main;
    }

    &.headerfixit {
      .header__mid {}

      .header__main {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        // background-color: $color-main;
      }

      .navul>li {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }

  @include respond(tabland) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    &.headerfixit {
      .navigation .nav-toggle:not(.open) span {
        background-color: #000;
      }
    }

    &__main-col-rt {
      position: static;
    }

    &__main .header__row {
      margin: 0;
    }

    &__nav-row {
      align-items: center;

      .logowrap {}

      .navigation {
        width: auto;
      }
    }
  }
}

.logowrap {
  img {
    max-width: 20rem;
    width: 100%;
    padding: 1rem;
    transition: all 0.5s ease;
  }

  .mini-logo {
    display: none;
  }

  @include respond(tabland-min) {
    img {
      max-width: 15rem;
      padding: 2rem 0;
    }
  }

  @include respond(tabland) {
    flex: 1;

    img {
      max-width: 18rem;
    }
  }
}

.phone-call {
  color: #fff;
  background-color: $color-main;
  border-radius: 50%;

  &__wrap {
    z-index: 998;
    position: fixed;
    bottom: 2rem;
    right: 2rem;

    &:hover {
      animation: bounce 1s linear;
    }
  }

  a {
    display: block;
    padding: 2rem;
    cursor: pointer;
  }

  i {
    font-size: 3rem;
  }
}

#contactModal {
  .modal-header {
    color: #fff;
    background-color: $color-main;

    h5 {
      font-family: $font-title;
      font-size: 2rem;
      font-weight: 700;
    }
  }

  .modal-body {
    a {
      font-size: 1.8rem;
      font-weight: 700;

      i {
        color: $color-main;
      }
    }
  }

  .modal-footer {
    button {
      font-size: 1.7rem;
      background-color: $color-main;
      border: 0;
    }
  }
}

#contactPopModal {
  .modal-body {
    text-align: center;

    p {
      margin-bottom: 15px;
    }

    a {
      display: inline-block;
      padding: 10px 20px;
      color: #fff;
      background: linear-gradient(to bottom,
          lighten($color-main, 5%),
          darken($color-main, 5%));

      &:hover {
        background: linear-gradient(to bottom,
            darken($color-main, 5%),
            lighten($color-main, 5%));
      }
    }

    p:nth-child(2n + 1) a {
      background: #000;
    }

    p:nth-child(2n + 1) a:hover {
      background: $color-main;
    }
  }
}

.nav-social {
  @include absoltopcenter;
  right: 0;
  padding-right: 1rem;

  .social-icon {
    margin-right: 1.5rem;
    text-align: center;

    a {
      display: inline-block;
      min-width: 2.5rem;
      min-height: 2.5rem;
    }

    i {
      font-size: 1.5rem;

      &:hover {
        color: $color-sub;
      }
    }
  }

  &::after {
    content: "";
    @include absoltopcenter;
    right: 0;
    width: 1px;
    height: 80%;
    background-color: #fff;
  }

  @include respond(tabland) {
    right: 22%;

    .social-icon i {
      font-size: 1.8rem;

      &:hover {
        color: #555;
      }
    }

    &::after {
      background-color: $color-black;
    }
  }
}

.search {
  &-btn {
    min-width: 1px;
    margin-right: 1rem;
    text-transform: capitalize !important;
    transition: all .4s ease;

    &:not([href]):not([tabindex]) {}

    img {
      display: inline-block;
      width: 1.25rem;
      filter: brightness(0) invert(1);
    }

    &:hover {
      img {
        filter: none;
      }
    }

    &-sm {
      position: relative;
      font-size: 3rem;
      margin-right: 4rem;
      cursor: pointer;

      &::after {
        content: "";
        @include absoltopcenter;
        right: -2rem;
        width: 1px;
        height: 40%;
        background-color: $color-black;
        opacity: 0.2;
      }

      img {
        width: 3rem;
      }
    }
  }

  &-popup {
    display: none;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: scale(0);
    width: 100%;
    height: 100%;
    background-color: rgba($color-black, 0.7);
    transition: all .5s;
    transition-delay: .5s;

    &-box {
      @include absolcenter;
      width: 100%;
      max-width: 90rem;
      padding: 2rem 5rem;
      margin-top: 10rem;
      opacity: 0;
      transition: all .5s ease;

      &-inner {
        position: relative;
      }
    }

    &-input {
      color: #fff;
      font-size: 2.5rem;
      height: 4rem;
      padding-right: 6rem;
      border: 0;
      background: transparent;

      &::placeholder {
        color: $color-gray;
      }

      &:focus {
        color: #fff;
        background: transparent;
        outline: none;
        border: none;
        box-shadow: none;

        &::placeholder {
          color: #fff;
        }
      }
    }

    &-line {
      position: absolute;
      bottom: -3rem;
      left: 0;
      right: 0;
      width: 100%;
      height: .5rem;
      background-color: rgba(#fff, 0.2);

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: #fff;
        transition: all .4s ease;
      }
    }

    &-input:hover~&-line::after {
      width: 5%;
    }

    &-input:focus~&-line::after {
      width: 100%;
    }

    &-submit {
      position: absolute;
      top: 0;
      right: 0;
      width: 5rem;
      background: transparent;
      border: none;
      cursor: pointer;

      img {
        width: 100%;
        filter: brightness(0) invert(1);
      }
    }

    &-exit {
      position: absolute;
      top: 15%;
      right: 15%;
      width: 5rem;
      margin-top: -10rem;
      opacity: 0;
      transition: all .5s ease;

      img {
        width: 100%;
        filter: brightness(0) invert(1);
        cursor: pointer;
        transition: all .3s ease;
      }

      &:hover img {
        filter: none;
      }
    }

    &-toggle {
      cursor: pointer;
    }

    &.active {
      display: block;
    }

    &.open {
      transform: scale(1);
      transition-delay: 0s;
    }

    &.open &-box,
    &.open &-exit {
      opacity: 1;
      margin-top: 0;
      transition-delay: .5s;
    }
  }
}